      :root {
          --my-arrow-width: 100px;
          --my-arrow-hight: 40px;
          --my-arrow-bg-color: white;
          --my-arrow-color: blue;
          --my-arrow-font-size: 20pt;
          --my-table-cell-hiduke-hight: 30pt;
          --my-table-cell-aite-hight: 30pt;
          --my-section-bg-color: white
      }



      div,
      main {
          box-sizing: border-box;

      }

      .yoko {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
      }

      .yoko div:nth-child(1) {
          font-size: 10px;
      }

      .yoko div:nth-child(2) {
          font-size: 30px;
      }

      .yoko div:nth-child(3) {
          font-size: 10px;
      }

      .left-arrow,
      .right-arrow {
          width: var(--my-arrow-width);
          height: var(--my-arrow-hight);
          background-color: var(--my-arrow-bg-color);
          color: var(--my-arrow-color);
          font-size: 25pt;
          /* text-align: center; */
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .left-arrow {
          clip-path: polygon(0% 50%, 10% 0%, 100% 0%, 100% 100%, 10% 100%);

      }

      .right-arrow {
          clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);

      }

      .yoko a {
          color: var(--my-arrow-color);
          font-size: var(--my-arrow-font-size);
          display: inline-block;
      }

      table {
          margin: auto;
          border-collapse: collapse;

      }

      table th {
          /* width: calc(100% / 7); */
width: 100px;
      }

      table td,
      table th {
          margin: 0;
          border: solid 1px black;
      }

      .hiduke {
          height: var(--my-table-cell-hiduke-hight);

      }

      .aite {
          display: inline-block;
          /* width: 200px; */
          width: calc(95%);
          margin: 0 auto;
          height: var(--my-table-cell-aite-hight);
      }

      section {
          /* width: 800px; */
          margin: 0 auto;
          background-color: var(--my-section-bg-color)
      }

      .siai {
          background-color: greenyellow;
      }

      .blue {
          color: blue;
          font-weight: 900;
      }

      .red {
          color: red;
          font-weight: 900;
      }
      .left-arrow {
        clip-path: polygon(0 50%, 15%, 100%, 0, 100% 100%, 15% 100%);
        background-color: black;
        color: white;
        text-align: center;
        color: inherit;
        text-decoration: none;
    }

    .left-arrow a:link,
    .left-arrow a:visited,
    .left-arrow a:hover,
    .left-arrow a:active {
        color: white;
    }

    .right-arrow {
        clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0% 100%);
        background-color: black;
        color: white;
        text-align: center;
        color: inherit;
        text-decoration: none;
    }

    .right-arrow a:link,
    .right-arrow a:visited,
    .right-arrow a:hover,
    .right-arrow a:active {
        color: white;
    }