main,footer{width: 600px;}
        img{
            width: 100%;
        }
        .title{
            font-size: 20pt;
            border-left: solid 5px red;
            border-bottom: solid 2px red;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
        .photo{
            width: 60%;
            box-sizing: border-box;
        }
        .message{
            width: 40%;
            padding: 5px;
            box-sizing: border-box;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
        }
        footer{
            margin-top: 10px;
            border-top: solid 1px black;
        }
        footer div{
            text-align: center;
        }