table,
tr,
td {
    background-color: black;

}

td {
    margin: 0;
    padding: 0;
    border: solid 1px black;
    background-color: red;
}

div {
    box-sizing: border-box;
    border-bottom: solid 1px black;

}

.container {
    display: flex;
    flex-wrap: wrap;
}

.width25>div {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.width25>div {
    padding: 5px;
}

.daimei {
    border-bottom: solid 1px #000000;
    font-size: 40px;
}

.width25 {
    width: 25%;
    border: none;
}

.sensyu {
    border-right: solid 1px #000000;
    text-decoration: none;
    font-size: 13px;
}
.sensyu:nth-child(1) {
    background-color: red;
    border-left: solid 1px #000000;
}

.midasi {
    background-color: #c0c0c0;
    text-align: center;
}

.container {
    border-bottom: none;

}

a {
    text-decoration: none;
}