
@import url(./ckgbase.css);

.leftArrow {
    width: 100px;
    height: 40px;
    background-color: var(--my-next-button-background-color);
    color: var(--my-next-button-color);
    clip-path: polygon(0 50%, 25% 0, 100% 0, 100% 100%, 25% 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;

}

.rightArrow {
    width: 100px;
    height: 40px;
    background-color: var(--my-previous-button-background-color);
    color: var(--my-previous-button-color);
    clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;

}

.mytitle {
    text-align: center;
}

.vs-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scoreBoard {
    margin: auto;
}

.MaeAtosiai {
    margin-top: 20px;
}