h1 {
    padding: 5px;
    background-color: aqua;
    color: white;
    text-align: center;

}

.face-pic {
    text-align: center;
}

table {
    /* border: solid 1px black; */
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

table td {
    padding: 5px;
    font-size: 20pt;
    border: solid 1px black;
}

footer {
    border-top: border solid 1px;

}

footer>div {
    margin-top: 10px;
    text-align: center;
    border-top: solid 2px gray;
}
.face-pic img{
    width: 20%;
}